@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md border-bottom p-2 bg-light">

    <a class="navbar-brand ms-2 me-3" href="./"> Test app </a>
    <NavLink class="nav-link me-3" href="page1"> Page 1 </NavLink>
    <NavLink class="nav-link me-3" href="page2"> Page 2 </NavLink>
</nav>

@Body
