@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md border-bottom p-1 mb-2">

    <a class="navbar-brand ms-2 me-3" href="./"> Test app </a>
    <ul class="navbar-nav small">
        <li class="nav-item">
            <NavLink class="nav-link" href="page1"> Page 1 </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="page2"> Page 2 </NavLink>
        </li>
    </ul>
</nav>

@Body
